body {
    margin: 0;
    background-color: var(--color3)
  }
  p {
    font-style: italic;
  }

  :root {
    --color1: #FFFFFF;
    --color2: #B3B3B3;
    --color3: #f4f8fb;
    --color4: #dbeefc;
    --color5: #90caf9;
    --color6: #297CAC;
    --color7: #0780C8;
    --color8: #1A75E1;
    --color9: #2b45CC;
    --color10: #4120AC;
    --color11: #4120AD;
    --color12: #241E20;
    --color13: #F4C41B;
    --color14: #B41801;


    --titlefont: 'Bebas Neue', cursive;
    --textfont: 'Source Sans Pro', sans-serif;
  }
