body {
    margin: 0;
    background-color: var(--color3)
  }
  p {
    font-style: italic;
  }

  :root {
    --color1: #FFFFFF;
    --color2: #B3B3B3;
    --color3: #f4f8fb;
    --color4: #dbeefc;
    --color5: #90caf9;
    --color6: #297CAC;
    --color7: #0780C8;
    --color8: #1A75E1;
    --color9: #2b45CC;
    --color10: #4120AC;
    --color11: #4120AD;
    --color12: #241E20;
    --color13: #F4C41B;
    --color14: #B41801;
    --color15: #b5bad3;


    --titlefont: 'Bebas Neue', cursive;
    --textfont: 'Source Sans Pro', sans-serif;
    --grid-gap: 30px;
    --grid-min: 225px
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    padding: 10px;
    color: var(--color12);
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav a.router-link-exact-active {
    color: #1A75E1;
  }

  form {
    border: var(--color11) solid 3px;
    max-width: 380px;
    margin: 30px auto;
    background: var(--color1);
    text-align: left;
    padding: 40px;
    border-radius: 10px;
  }

  form h2 {
    color: var(--color8);
    text-align: center;
  }

  form label {
    color: var(--color12);
    font-size: 1em;
    display: inline-block;
    margin: 25px 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }

  form input {
    display: block;
    font-size: 1.25em;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--color12);
    color: var(--color8);
  } 

  button {
    background-color: var(--color11);
    border: 0;
    font-weight: 900;
    font-size: 1.25em;
    padding: 10px 20px;
    margin-top: 20px;
    color: var(--color1);
    border-radius: 20px;
    cursor: pointer;
  }
  .error {
    color: var(--color14);
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
  }
