body {
    margin: 0;
  }
  p {
    font-style: italic;
  }

  :root {
    --color1: #FFFFFF;
    --color2: #B3B3B3;
    --color3: #C3E5FF;
    --color4: #90caf9;
    --color5: #297CAC;
    --color6: #0780C8;
    --color7: #1A75E1;
    --color8: #2b45CC;
    --color9: #4120AC;
    --color10: #4120AD;
    --color11: #241E20;
    --color12: #F4C41B;
    --color13: #B41801;
    

    --titlefont: 'Bebas Neue', cursive;
    --textfont: 'Source Sans Pro', sans-serif;
  }
